<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gppdi.ubipri" >

    <!-- Network permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Bluetooth permissions -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <!-- Location permissions -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--
     Needed by Google Cloud Messaging.
    -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name=".notification.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name=".notification.permission.C2D_MESSAGE" />

    <!--
     To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="UbiPriApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Activities -->
        <activity
            android:name=".ui.activities.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.activities.EnvironmentsActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.activities.AuthenticatorActivity"
            android:label="@string/app_name"
            android:excludeFromRecents="true"
            />
        <activity
            android:name=".ui.activities.RegisterActivity"
            android:label="@string/app_name" />

        <!-- Services and Receivers -->
        <service
            android:name=".location.BackgroundLocationService"
            android:enabled="true" />
        <service
            android:name=".location.GeofenceTransitionsIntentService"
            android:exported="false" />

        <service
            android:name=".api.account.AccountAuthenticatorService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"/>
        </service>

        <receiver android:name=".location.LocationReceiver" />
        <receiver android:name=".BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name=".notification.receivers" />
            </intent-filter>
        </receiver>
        <service
            android:name=".notification.services.NotificationGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".notification.services.NotificationInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <service
            android:name=".notification.services.RegistrationIntentService"
            android:exported="false">
        </service>

        <!-- Meta data -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <meta-data android:name="AA_DB_NAME" android:value="UbiPri.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="3" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.gppdi.ubipri.data.models.Environment, com.gppdi.ubipri.data.models.EnvironmentType,
            com.gppdi.ubipri.data.models.LocalizationType, com.gppdi.ubipri.data.models.AccessType, com.gppdi.ubipri.data.models.AccessLevel,
            com.gppdi.ubipri.data.models.Functionality, com.gppdi.ubipri.notification.data.models.Notification" />

    </application>

</manifest>
